body{
    font-family:'Courier New', Courier, monospace;
    background-color:#292e32;
    margin: 0;
    padding: 0;
    color:whitesmoke;
}

.chat-response {
    background-color: #a3a3a3;
    font-size: large;
    font-style: italic;
    border-color: #a3a3a3;
}

.chat-action {
    background-color: #8b8b8b;
    border-color: #8b8b8b;
    font-size: large;
    font-style: bold;
}

input[type="text"] {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #bebebe;
    border-style: none;
}

#instructions, #instructions li{
    font-style: italic;
    border-radius: 10px;
    background-color: #37393d;
    color: whitesmoke;
    border-color: #37393d;
}

label {
    font-weight: bold;
}

.card {
    background-color: #37393d;
    color: whitesmoke;
}
